- model_class = Dealership
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:website_url)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:street_address_1)
      %th= model_class.human_attribute_name(:street_address_2)
      %th= model_class.human_attribute_name(:city)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:zip_code)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @dealerships.each do |dealership|
      %tr
        %td= link_to dealership.id, dealership_path(dealership)
        %td= dealership.name
        %td= dealership.website_url
        %td= dealership.email
        %td= dealership.street_address_1
        %td= dealership.street_address_2
        %td= dealership.city
        %td= dealership.state
        %td= dealership.zip_code
        %td=l dealership.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_dealership_path(dealership), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), dealership_path(dealership), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_dealership_path, :class => 'btn btn-primary'
