= form_for @vehicle, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :dealer_id, :class => 'control-label'
    .controls
      = f.text_field :dealer_id, :class => 'text_field'
  .control-group
    = f.label :vin, :class => 'control-label'
    .controls
      = f.text_field :vin, :class => 'text_field'
  .control-group
    = f.label :stock_number, :class => 'control-label'
    .controls
      = f.text_field :stock_number, :class => 'text_field'
  .control-group
    = f.label :year, :class => 'control-label'
    .controls
      = f.text_field :year, :class => 'text_field'
  .control-group
    = f.label :make, :class => 'control-label'
    .controls
      = f.text_field :make, :class => 'text_field'
  .control-group
    = f.label :model, :class => 'control-label'
    .controls
      = f.text_field :model, :class => 'text_field'
  .control-group
    = f.label :model_code, :class => 'control-label'
    .controls
      = f.text_field :model_code, :class => 'text_field'
  .control-group
    = f.label :trim, :class => 'control-label'
    .controls
      = f.text_field :trim, :class => 'text_field'
  .control-group
    = f.label :bodystyle, :class => 'control-label'
    .controls
      = f.text_field :bodystyle, :class => 'text_field'
  .control-group
    = f.label :transmission, :class => 'control-label'
    .controls
      = f.text_field :transmission, :class => 'text_field'
  .control-group
    = f.label :drive_train, :class => 'control-label'
    .controls
      = f.text_field :drive_train, :class => 'text_field'
  .control-group
    = f.label :doors, :class => 'control-label'
    .controls
      = f.text_field :doors, :class => 'text_field'
  .control-group
    = f.label :exterior_color, :class => 'control-label'
    .controls
      = f.text_field :exterior_color, :class => 'text_field'
  .control-group
    = f.label :interior_color, :class => 'control-label'
    .controls
      = f.text_field :interior_color, :class => 'text_field'
  .control-group
    = f.label :truck_cab, :class => 'control-label'
    .controls
      = f.text_field :truck_cab, :class => 'text_field'
  .control-group
    = f.label :truck_bed, :class => 'control-label'
    .controls
      = f.text_field :truck_bed, :class => 'text_field'
  .control-group
    = f.label :msrp, :class => 'control-label'
    .controls
      = f.text_field :msrp, :class => 'text_field'
  .control-group
    = f.label :invoice, :class => 'control-label'
    .controls
      = f.text_field :invoice, :class => 'text_field'
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.text_field :price, :class => 'text_field'
  .control-group
    = f.label :wholesale_price, :class => 'control-label'
    .controls
      = f.text_field :wholesale_price, :class => 'text_field'
  .control-group
    = f.label :retail_price, :class => 'control-label'
    .controls
      = f.text_field :retail_price, :class => 'text_field'
  .control-group
    = f.label :sale_price, :class => 'control-label'
    .controls
      = f.text_field :sale_price, :class => 'text_field'
  .control-group
    = f.label :mileage, :class => 'control-label'
    .controls
      = f.text_field :mileage, :class => 'text_field'
  .control-group
    = f.label :comments, :class => 'control-label'
    .controls
      = f.text_field :comments, :class => 'text_field'
  .control-group
    = f.label :options, :class => 'control-label'
    .controls
      = f.text_field :options, :class => 'text_field'
  .control-group
    = f.label :images, :class => 'control-label'
    .controls
      = f.text_field :images, :class => 'text_field'
  .control-group
    = f.label :type, :class => 'control-label'
    .controls
      = f.text_field :type, :class => 'text_field'
  .control-group
    = f.label :certified, :class => 'control-label'
    .controls
      = f.text_field :certified, :class => 'text_field'
  .control-group
    = f.label :engine, :class => 'control-label'
    .controls
      = f.text_field :engine, :class => 'text_field'
  .control-group
    = f.label :engine_size, :class => 'control-label'
    .controls
      = f.text_field :engine_size, :class => 'text_field'
  .control-group
    = f.label :fule, :class => 'control-label'
    .controls
      = f.text_field :fule, :class => 'text_field'
  .control-group
    = f.label :dealership, :class => 'control-label'
    .controls
      = f.text_field :dealership, :class => 'text_field'
  .control-group
    = f.label :dealership_address1, :class => 'control-label'
    .controls
      = f.text_field :dealership_address1, :class => 'text_field'
  .control-group
    = f.label :dealership_address_2, :class => 'control-label'
    .controls
      = f.text_field :dealership_address_2, :class => 'text_field'
  .control-group
    = f.label :dealership_city, :class => 'control-label'
    .controls
      = f.text_field :dealership_city, :class => 'text_field'
  .control-group
    = f.label :dealership_state, :class => 'control-label'
    .controls
      = f.text_field :dealership_state, :class => 'text_field'
  .control-group
    = f.label :dealership_postalcode, :class => 'control-label'
    .controls
      = f.text_field :dealership_postalcode, :class => 'text_field'
  .control-group
    = f.label :dealership_phone, :class => 'control-label'
    .controls
      = f.text_field :dealership_phone, :class => 'text_field'
  .control-group
    = f.label :dealership_url, :class => 'control-label'
    .controls
      = f.text_field :dealership_url, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), vehicles_path, :class => 'btn'
