!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="Description" content="Official site for searching and browsing used cars, trucks, SUV’s, and minivans for sale in the Omaha metro area.")
    %title= content_for?(:title) ? yield(:title) : "Used Cars for Sale in Omaha NE / UsedCarsOmaha.biz"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") UsedCarsOmaha.biz
          .container.nav-collapse
            %ul.nav
              %li= link_to "Admin Panel", rails_admin_path, method: :get
    .container
      .row-fluid
        .span3
          - years = Vehicle.all.map(&:year).sort.reverse
          - years_uniq = years.uniq
          - years_with_count = years.each_with_object(Hash.new(0)){|word,counts| counts[word] += 1}
          - make_uniq = Vehicle.all.map(&:make).sort.uniq
          -# - make_uniq.each { |vehicle| vehicle << {:onclick => 'javascript:alert(\'test\');'}
          - bodystyle = Vehicle.all.map(&:bodystyle).sort.uniq
          - prices = [['Under $5,000',5000],['Under $10,000',10000],['Under $15,000',15000], ['Under $20,000', 20000], ['Under $25,000', 25000], ['Under $30,000', 30000], ['More than $30,000', 30001]]
          .well
            %legend Search
            = form_for :search, url: search_vehicles_path, method: :get, class: 'form-inline' do |f|
              - if params[:search] && params[:search][:price]
                = f.select :price, prices, {selected: params[:search][:price]}
              - else
                = f.select :price, prices
              %select{:name => "search[make]", :onchange => 'javascript:window.location = \'/vehicles/search?\' + $(\'form\').serialize() + \'&search%5Bmake%5D=\' + this.value;'}
                - if params[:search] && params[:search][:make] && params[:search][:make]
                  = options_for_select(['All Makes'] + make_uniq, params[:search][:make])
                - else
                  = options_for_select(['All Makes'] + make_uniq)
              - if params[:search] && params[:search][:make] && params[:search][:make] != 'All Makes'
                = f.select :model, @models.map(&:model)
              - else
                -# - models = Vehicle.select(:model).distinct.map(&:model)
                = f.select :model, [''], {}, { disabled: "true"}
              = f.label :year
              .row-fluid
                .span5
                  - if params[:search] && params[:search][:start_year]
                    = f.select :start_year, years_uniq, { class: 'input-small', selected: params[:search][:start_year] }
                  - else
                    = f.select :start_year, years_uniq, { selected: years_uniq[-1], class: 'input-small'}
                .span1
                  To
                .span5
                  -if params[:search] && params[:search][:start_year]
                    = f.select :end_year, years_uniq, { class: 'input-small', selected: params[:search][:end_year]}
                  - else
                    = f.select :end_year, years_uniq
              = f.label :mileage
              .row-fluid
                .span8
                  = f.select :mileage, [['All', 'All'], ['Under 10,000', 10000], ['Under 20,000', 20000],['Under 30,000', 30000], ['Under 40,000', 40000],['Under 50,000', 50000], ['Under 60,000', 60000],['Under 70,000', 70000], ['Under 80,000', 80000],['Under 90,000', 90000],['Under 100,000', 100000], ['Over 100,000', 100001]]
              = f.label :bodystyle
              .row-fluid
                .span8
                  =f.select :bodystyle, ['All'] + bodystyle
              = f.submit "Search", class: "btn btn-primary pull-right"
          .well
            %legend Price
            = link_to "Under $5,000(#{Vehicle.where("price < 5000").count})", search_vehicles_path(search: {:price => 5000})
            %br
            = link_to "Under $10,000(#{Vehicle.where("price < 10000").count})", search_vehicles_path(search: {:price => 10000})
            %br
            = link_to "Under $15,000(#{Vehicle.where("price < 15000").count})", search_vehicles_path(search: {:price => 15000})
            %br
            = link_to "Under $20,000(#{Vehicle.where("price < 20000").count})", search_vehicles_path(search: {:price => 20000})
            %br
            = link_to "Under $25,000(#{Vehicle.where("price < 25000").count})", search_vehicles_path(search: {:price => 25000})
            %br
            = link_to "Under $30,000(#{Vehicle.where("price < 30000").count})", search_vehicles_path(search: {:price => 30000})
            %br
            = link_to "Over $30,000(#{Vehicle.where("price > 30000").count})", search_vehicles_path(search: {:price => 30001})
          .well
            %legend Year
            - years_with_count.each do |year,count|
              = link_to "#{year}(#{count})", search_vehicles_path(search: {start_year: year, end_year: year})
              %br
          .well
            %legend Mileage
            = link_to "Under 10,000(#{Vehicle.where("mileage < 10000").count})", search_vehicles_path(search: {:mileage => 10000})
            %br
            = link_to "Under 20,000(#{Vehicle.where("mileage < 20000").count})", search_vehicles_path(search: {:mileage => 20000})
            %br
            = link_to "Under 30,000(#{Vehicle.where("mileage < 30000").count})", search_vehicles_path(search: {:mileage => 30000})
            %br
            = link_to "Under 40,000(#{Vehicle.where("mileage < 40000").count})", search_vehicles_path(search: {:mileage => 40000})
            %br
            = link_to "Under 50,000(#{Vehicle.where("mileage < 50000").count})", search_vehicles_path(search: {:mileage => 50000})
            %br
            = link_to "Under 60,000(#{Vehicle.where("mileage < 60000").count})", search_vehicles_path(search: {:mileage => 60000})
            %br
            = link_to "Under 70,000(#{Vehicle.where("mileage < 70000").count})", search_vehicles_path(search: {:mileage => 70000})
            %br
            = link_to "Under 80,000(#{Vehicle.where("mileage < 80000").count})", search_vehicles_path(search: {:mileage => 80000})
            %br
            = link_to "Under 90,000(#{Vehicle.where("mileage < 90000").count})", search_vehicles_path(search: {:mileage => 90000})
            %br
            = link_to "Under 100,000(#{Vehicle.where("mileage < 100000").count})", search_vehicles_path(search: {:mileage => 100000})
            %br
            = link_to "Over 100,000(#{Vehicle.where("mileage > 100000").count})", search_vehicles_path(search: {:mileage => 100001})

          .well
            %legend Body Style
            %br
            = link_to "Convertible(#{Vehicle.where(:bodystyle => 'Convertible').count})", search_vehicles_path(search: {:bodystyle => "Convertible"})
            %br
            = link_to "Coupe(#{Vehicle.where(:bodystyle => 'Coupe').count})", search_vehicles_path(search: {:bodystyle => "Coupe"})
            %br
            = link_to "Pickup Truck(#{Vehicle.where(:bodystyle => 'Pickup Truck').count})", search_vehicles_path(search: {:bodystyle => "Pickup Truck"})
            %br
            = link_to "Van(#{Vehicle.where(:bodystyle => 'Van').count})", search_vehicles_path(search: {:bodystyle => "Van"})
            %br
            = link_to "Sedan(#{Vehicle.where(:bodystyle => 'Sedan').count})", search_vehicles_path(search: {:bodystyle => "Sedan"})
            %br
            = link_to "SUV(#{Vehicle.where(:bodystyle => 'SUV').count})", search_vehicles_path(search: {:bodystyle => "SUV"})
            %br
            = link_to "Wagon(#{Vehicle.where(:bodystyle => 'Wagon').count})", search_vehicles_path(search: {:bodystyle => "Wagon"})
            %br

        .span9
          = bootstrap_flash
          = yield

:coffee
