!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="Description" content="Official site for searching and browsing used cars, trucks, SUV’s, and minivans for sale in the Omaha metro area.")
    %title= content_for?(:title) ? yield(:title) : "Used Cars for Sale in Omaha NE / UsedCarsOmaha.biz"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") UsedCarsOmaha.biz
          .container.nav-collapse
            %ul.nav
              %li= link_to "Admin Panel", rails_admin_path, method: :get

    .container
      .row-fluid
        .span3
          - years = Vehicle.all.map(&:year).sort.reverse
          - years_uniq = years.uniq
          - years_with_count = years.each_with_object(Hash.new(0)){|word,counts| counts[word] += 1}
          .well
            %legend Search
            = form_for :search, url: search_vehicles_path, method: :get, class: 'form-inline' do |f|
              = f.select :price, [['Under $5,000',5000],['Under $10,000',10000],['Under $15,000',15000], ['Under $20,000', 20000], ['Under $25,000', 25000], ['Under $30,000', 30000], ['More than $30,000', 30001]]
              = f.label :year
              .row-fluid
                .span5
                  = f.select :start_year, years_uniq, class: 'input-small'
                .span1
                  To
                .span5
                  = f.select :end_year, years_uniq
              = f.submit "Search", class: "btn btn-primary pull-right"
          .well
            %legend Price
            = link_to "Under $5,000", search_vehicles_path(:price => 5000)
            %br
            = link_to "Under $10,000", search_vehicles_path(:price => 10000)
            %br
            = link_to "Under $15,000", search_vehicles_path(:price => 15000)
            %br
            = link_to "Under $20,000", search_vehicles_path(:price => 20000)
            %br
            = link_to "Under $25,000", search_vehicles_path(:price => 25000)
            %br
            = link_to "Under $30,000", search_vehicles_path(:price => 30000)
            %br
            = link_to "Over $30,000", search_vehicles_path(:price => 30001)
          .well
            %legend Year
            - years_with_count.each do |year,count|
              = link_to "#{year}(#{count})", search_vehicles_path(search: {start_year: year, end_year: year})
              %br
        .span9
          = bootstrap_flash
          = yield
          = debug(params)

:coffee
